@section Styles {
    <link href="@Url.Content("~/css/userIndexPage.css")" rel="stylesheet" type="text/css" />
}

<script>
    function hideJumbo() {
        $("#jumbo").click(function () {
            $(".collapse").collapse('hide');
        });
}
</script>

<!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->

        <header id="jumbo" class="jumbotron my-4 collapse in" onclick="hideJumbo()">
            <h1 class="display-3">Welcome to Movie Manager</h1>
            <p class="lead">Movie Manager is a simple to use, yet customizable, movie manager. It allows you to view new movies and recent tv show episodes that you may not have seen yet. Info is automatically retrieved from MovieWeb.com, IMDb.com, and Wikipedia.org.</p>
            @*<a href="#" class="btn btn-primary btn-lg">Call to action!</a>*@
        </header>

        <!-- Page Features -->
        <div class="row text-center">
            <h1>Upcoming movies</h1>
            <div class="col-lg-3 col-md-6 mb-4">
                <span>@ViewBag.releaseDate[0]</span>
                <div class="card">
                    <img class="card-img-top" src="@ViewBag.href[0]" alt="">
                    <div class="card-body">
                        <h4 class="card-title">@ViewBag.title[0]</h4>
                        <p class="card-text">@ViewBag.description[0]</p>
                    </div>
                    <div class="card-footer">
                        <a href="@ViewBag.link[0]" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <span>@ViewBag.releaseDate[1]</span>
                <div class="card">
                    <img class="card-img-top" src="@ViewBag.href[1]" alt="">
                    <div class="card-body">
                        <h4 class="card-title">@ViewBag.title[1]</h4>
                        <p class="card-text">@ViewBag.description[1]</p>
                    </div>
                    <div class="card-footer">
                        <a href="@ViewBag.link[1]" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <span>@ViewBag.releaseDate[2]</span>
                <div class="card">
                    <img class="card-img-top" src="@ViewBag.href[2]" alt="">
                    <div class="card-body">
                        <h4 class="card-title">@ViewBag.title[2]</h4>
                        <p class="card-text">@ViewBag.description[2]</p>
                    </div>
                    <div class="card-footer">
                        <a href="@ViewBag.link[2]" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <span>@ViewBag.releaseDate[3]</span>
                <div class="card">
                    <img class="card-img-top" src="@ViewBag.href[3]" alt="">
                    <div class="card-body">
                        <h4 class="card-title">@ViewBag.title[3]</h4>
                        <p class="card-text">@ViewBag.description[3]</p>
                    </div>
                    <div class="card-footer">
                        <a href="@ViewBag.link[3]" class="btn btn-primary">Find Out More!</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
<!-- /.container -->
